@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}
body {
    background-color: #FDD9C3 !important;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

#header {
    top: 0;
    left: 0;
    z-index: 99;
}

#header img {
    margin: 10px;
    width: 25%;
}

#hero img {
    width: 100%;
}

.gradient-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, transparent, #FDD9C3);
}

#profile {
    padding-top: 10px;
    background-color: #FDD9C3;
    padding-bottom: 10vh;
}

.circular--landscape {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--landscape img {
    width: 440px;
    height: 500px;
    margin-top: -30px;
    margin-left: -150px;
}

#profile h1 {
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 6.5vw;
    letter-spacing: -0.1px;
    text-shadow: 1px 2px 3px grey;
}

#profile .sub {
    background-color: #284E61;
    border-radius: 20px;
    width: max-content;

}

#profile .sub h2 {
    opacity: 0.9;
    color: #FFFFFF;
    font-size: 4vw;
    padding: 5px 30px 5px 30px;
    margin-bottom: 15px;
}

#profile p {
    font-size: 3.5vw;
    color:#0863A9;
}

.container-sosmed {
    width: 70%;
    display: flex;
    margin:50px 0px 0px 0px;
}

.sosmed {
    width: max-content;
    height: auto;
    padding: 5px;
}

.sosmed button {
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    font-size: 5.5vw;
    margin-right: 5px;
    border-radius: 50%;
    border-style: none;

}

/* PAGE 2 */

.undangan{
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
 }
 .undangan img{
    border-radius: 20px;
    box-shadow: 1px 2px 3px grey;
 }
 #profilePageDua {
    color: #334C8C;
 }
 #profilePageDua .logoAdhivasi{
    width: 50%;
 }
 #profilePageDua .moto {
    margin-top: 20px;
    font-weight: 600;
    font-size: 6vw;
    letter-spacing: 0.5px;
}
#profilePageDua .sub {
    margin-top: 100px;
    width: max-content;
}

#profilePageDua .sub h2 {
    opacity: 1;
    font-weight: 600;
    font-size: 4.5vw;
}

#profilePageDua p {
    font-size: 3.5vw;
    color:#0863A9;
}
#profilePageDua .sosmed {
    width: max-content;
    height: auto;
    padding: 5px;
}

#profilePageDua .sosmed button {
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    font-size: 5.5vw;
    margin-right: 5px;
    border-radius: 50%;
    border-style: none;
}
#profilePageDua .container-sosmed {
    width: 70%;
    display: flex;
    margin:0px 0px 0px 0px;
}
#profilePageDua p {
    margin: 30px 0px 20px 0px;
    font-weight: 600;

}